{% extends "::base.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}
        <div class='container_form'>
            {{ form(form) }}
        </div>
{% endblock %}

{% block javascripts %}
    <script src="../js/register.js"></script> 
{% endblock %}