{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

<div class='container_form'>
    <form action="{{ path('login') }}" method="POST" class='form-group'>
        <div class="group">
            <input type="text" name="_username" id="username" value={{ username }}><span class="highlight"></span><span class="bar"></span>
            <label>Username</label>
        </div>
        <div class="group">
            <input type="password" name="_password" id="password"><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <button class="btn-login btn-submit-form">Log In
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        {% if errors %}
            <div class="alert-submit">
                {{ errors.messageKey }}
            </div>
        {% endif %}

        <div class='redirect_to_register'>
            <a href="/register">If you don't have an account, go to register page</a>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="../js/login.js"></script> 
{% endblock %}